.body {
    border: 1px solid black;
    margin-left: 15em;
    margin-right: 15em;
}




.header {
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-direction: row;
border: 1px solid black;
}
.header .utilisateur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
}
.presentation {
    border: 1px solid black;

}
.article {
    border: 1px solid black;
    margin: 3em;
    padding: 1em;
}
.sous_article {
    border: 1px solid black;
    margin: 2em;
    padding: 1em;
}

.footer {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: center;
}