.body {
    border: 1px solid black;
    margin-left: 15em;
    margin-right: 15em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    border: 1px solid black;
}

.header .utilisateur {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
}

.article {
    border: 1px solid black;
    margin: 3em;
    padding: 1em;
}

.affichage_comment {
    border: 1px solid black;
    margin: 3em;
    padding: 1em;
}

.header_comment {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}



.billet {
    border: 1px solid black;
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 0.5em;
}
.like {
    margin: 1em;
    margin-right: 1px;
    padding: 1em;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;

}



.footer {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: center;
}