.title {
    display: flex;
    justify-content: center;

}

.test {
    text-align: center;   
    justify-content: center;
}


.button {
    font-size: 40px;
}

.button :link {
    color: brown;
}

.mdp { 
    margin: 10px;
}